*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);

    font-size: 16px;
}
body{
    font-family: 'Outfit', sans-serif;
    background-color: var(--Light-gray);
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0px auto;
}
#card-code{
    width: 280px;
    padding: 15px 15px 20px;
    background-color: var(--White);
    border-radius: 1rem;
    text-align: center;
}

#card-code img{
    border-radius: 0.8rem;
    width: 250px;
}
#card-code h3{
    margin-block: 10px;
}
#card-code p{
    color: var(--Grayish-blue);
    font-size: 0.9rem;

}

.attribution {
    width: 100%;
    bottom: 20px;
    text-align: center;
    position: absolute;
    font-size: 13px;
}  
.attribution a {
    color: hsl(228, 45%, 69%);
}

@media (min-width: 1080px) {
    #card-code{
        width: 380px;
        padding: 30px 30px 40px;
        background-color: var(--White);
        border-radius: 1rem;
        text-align: center;
    }
    
    #card-code img{
        border-radius: 0.8rem;
        width: 320px;
    }
    #card-code h3{
        margin-block: 15px;
        font-size: 1.5rem;
    }
    #card-code p{
        color: var(--Grayish-blue);
        font-size: 1rem;
    }

    .attribution {
        font-size: 15px;
    }  
}
